:root{

    /* variables based on palette color: "Coding Guide" on coolors */

    /* White mode */

    --black:#1F1F1F;
    --gray:#707070;
    --white:#F5F5F5;
    --current-menu-black:#303030;
    --blue: #54d3c4;
    --lightblue:#a1cfc9;
    --red:#d94a43;
    
    /* Dark mode */

}

body{
    background-color: var(--white);
}

#menu{
    background-color: var(--black);
    color:var(--white);
    padding-bottom: 4.45rem;
}

.menu_li{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: var(--black);
}


.menu_li :hover{
    background-color: var(--black);
    animation: menu_text_light 1000s;
}

@keyframes menu_text_light{
    0%{ color:var (--white); }

    0.02%{
        color:#fff;
        text-shadow: 0px 0px 20px #fff;
        border-bottom: solid 3px var(--gray);
    }
}

.menu_current_page{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: var(--black);
    border-bottom: solid 3px var(--red);
    text-shadow: 0px 0px 20px var(--white);
}

.menu_current_page :hover{
    background-color: var(--black);
}

.main_body{
    margin: 100px 200px;
    display: grid;
}

#html5_icon{
    display: inline-block;
    max-width: 70px;
    margin-top: 22px;
    margin-bottom: 22px;
}

/* .main_title{
    background-color: #54d3c4;
} */

.text_main_title{
    display: inline-block;
    height: 6.4em;
    padding-top: 19px;
    padding-bottom: 20px;
    margin: 10px;
    margin-left: 0px;
}

.main_h3{
    display: inline-block;
    float: right;
    margin: 10px;
}